.other-ratings-div {
    height: 90%;
    width: 100%;
    background-color: #e0f1fb;
    border-radius: 20px;
}

.other-ratings-heading-section {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.other-ratings-heading-section p {
    font-family: "Euclid";
    font-size: 16px;
    color: #494646;
    margin-bottom: 0px;
    font-weight: 600;
}

.other-ratings-heading-section h1 {
    font-family: "PT Sans";
    font-size: 59px;
    letter-spacing: 0.9px;
    margin-top: 10px;
    font-weight: bold;
}

.timeline-section {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun {
    background-image: url("https://res.cloudinary.com/dwgg5pyqk/image/upload/v1708350595/sun_los7bt.svg");
    height: 60px;
    width: 60px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Euclid";
    font-weight: 900;
    font-size: 17px;
    margin: 0px 5px;
}

.timeline-section p {
    color: #ffc114;
    font-weight: 900;
}

.timeline-section-headings {
    height: 10%;
    width: 100%;
    display: flex;
    margin: 0px auto;
}

.timeline-section-headings p {
    font-family: "Euclid";
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    text-align: center;
}

.p1 {
    margin-left: 13%;
}

.p2 {
    margin-left: 15%;
}

.p3 {
    margin-left: 15%;
}

.ratings-view-section {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ratings-view-div {
    height: 70%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.ratings-view-div p {
    color: rgb(205, 194, 194);
    font-weight: 900;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.c1 {
    background-color: #6340ef;
}

.c2 {
    background-color: #3fc2fc;
}

.c3 {
    background-color: #fcb437;
}

.c4 {
    background-color: #58c896;
}

.you1 {
    position: absolute;
    background-color: #6340ef;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: "Euclid";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 33%;
    left: 23%;
}

.you2 {
    position: absolute;
    background-color: #3fc2fc;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: "Euclid";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 56%;
    left: 42%;
}
.you3 {
    position: absolute;
    background-color: #fcb437;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: "Euclid";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 33%;
    left: 57%;
}

.you4 {
    position: absolute;
    background-color: #58c896;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: "Euclid";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 56%;
    left: 71%;
}
